/*!
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.10
 * @link http://coreui.io
 * Copyright (c) 2018 creativeLabs Łukasz Holeczek
 * @license MIT
 */

 // Import Flag Icons Set
// $flag-icon-css-path: '~flag-icon-css/flags';
// @import '~flag-icon-css/sass/flag-icon.scss';

// Import Font Awesome Icons Set
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

// Import Simple Line Icons Set
$simple-line-font-path: '~simple-line-icons/fonts/';
@import '~simple-line-icons/scss/simple-line-icons.scss';

// Override Boostrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "~bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Custom styles
@import "custom";
