.PrettyLoaderOverlay {
  &.hidden {
    display: none;
  }

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  color: #000;
  transition: opacity .2ms ease-out;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  z-index: 99999;
}
